@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  .card-info {
    font-size: large;
  }

  .card-in-card {
    box-shadow: none;
background-color: btn-hero-danger-light-gradient();

    nb-card-body {
      height: 80px;
    }
  }

  nb-card-header {
    img {
      width: 24px;
      float: right;
     }

    i{
      font-size:24px;
      float:right;
    }
  }

  @include nb-for-theme(cosmic) {
    nb-card-header {
      img {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }
  }
}
