<div class="row" *ngIf="user">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Payment
      </nb-card-header>
      <nb-card-body *ngIf="user">
        <div *ngIf="!user.stripeCustomer.sources.data[0]" class="input-group">
          <label class="form-control">No payment info</label>
          <button class="btn btn-primary pull-right" (click)="openCheckout()">Set up</button>
        </div>
        <div *ngIf="user.stripeCustomer.sources.data[0]" class="input-group">
          <label class="form-control">{{user.stripeCustomer.sources.data[0].brand}} -
            {{user.stripeCustomer.sources.data[0].last4}}</label>
          <button class="btn btn-secondary pull-right" (click)="openCheckout()">Change</button>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div *ngIf="!user.stripeCustomer.sources.data[0]" class="alert alert-warning" role="alert">
          <strong>Warning!</strong> Subscriptions will stop after trial if payment info is not entered.
        </div>
        <div *ngIf="user.stripeCustomer.sources.data[0]" class="alert alert-success" role="alert">
          <strong>All set!</strong> Subscriptions will be charged to this card.
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-3 col-xxl-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Coupon
      </nb-card-header>
      <nb-card-body *ngIf="user">
        <div class="input-group">
          <input type="text" placeholder="Coupon code" class="form-control" [(ngModel)]="couponCode"/>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-secondary pull-right" (click)="addCoupon()">Apply</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-3 col-xxl-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Email
      </nb-card-header>
      <nb-card-body *ngIf="user">
        <div class="input-group">
          <label class="form-control" *ngIf="!isEditEmail">{{email}}</label>
          <input type="text" placeholder="Email" class="form-control" *ngIf="isEditEmail" [(ngModel)]="email"/>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-secondary pull-right" *ngIf="!isEditEmail" (click)="toggleEditEmail()">Change</button>
        <button class="btn btn-info pull-right" *ngIf="isEditEmail" (click)="changeEmail()">Apply</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    Subscriptions
  </nb-card-header>
  <nb-card-body>
    <div class="row">
     
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Robinhood Connect
          </nb-card-header>
          <nb-card-body>
            Connect to your Robinhood account.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">Free</span>
            <button class="btn btn-secondary pull-left" disabled="disabled">
                Setup Robinhood
              </button>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Rocket Email <img src="../../../../assets/images/rocket-outline.svg"/>
          </nb-card-header>
          <nb-card-body>
            Get stock picks... in your inbox.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">FREE</span>
            <span *ngIf="isRocketEmail" class="text-success"><i class="nb-checkmark"></i> Subscribed</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Rocket SMS <img src="../../../../assets/images/rocket-outline.svg"/>
          </nb-card-header>
          <nb-card-body>
            Get stock picks... texted to your phone.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">$3/mo</span>
            <span *ngIf="rocketSmsSubscription&&!rocketSmsSubscription.discount" class="text-success"><i
              class="nb-checkmark"></i> Subscribed</span>
            <span *ngIf="rocketSmsSubscription&&rocketSmsSubscription.discount" class="text-success">{{rocketSmsSubscription.discount.coupon.percent_off}}% off for {{rocketSmsSubscription.discount.coupon.duration_in_months}} months</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <!-- <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Rocket Bot Extended
          </nb-card-header>
          <nb-card-body>
            Get stock picks... in extended hours
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">$1/mo</span>
            <span *ngIf="isRocketBotExtendedHours" class="text-success"><i class="nb-checkmark"></i> Subscribed</span>
          </nb-card-footer>
        </nb-card>
      </div> -->
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Bruno Email <img src="../../../../assets/images/bruno-outline.svg"/>
          </nb-card-header>
          <nb-card-body>
            Get stock picks... in your inbox.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">FREE</span>
            <span *ngIf="isBrunoEmail" class="text-success"><i class="nb-checkmark"></i> Subscribed</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Bruno SMS <img src="../../../../assets/images/bruno-outline.svg"/>
          </nb-card-header>
          <nb-card-body>
            Get stock picks... texted to your phone.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">$3/mo</span>
            <span *ngIf="brunoSmsSubscription&&!brunoSmsSubscription.discount" class="text-success"><i
              class="nb-checkmark"></i> Subscribed</span>
            <span *ngIf="brunoSmsSubscription&&brunoSmsSubscription.discount" class="text-success">{{brunoSmsSubscription.discount.coupon.percent_off}}% off for {{brunoSmsSubscription.discount.coupon.duration_in_months}} months</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Put Email <img src="../../../../assets/images/geoffrey-outline.svg"/>
          </nb-card-header>
          <nb-card-body>
            Get stock picks... in your inbox.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">FREE</span>
            <span *ngIf="isPutEmail" class="text-success"><i class="nb-checkmark"></i> Subscribed</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-6">
        <nb-card class="card-in-card">
          <nb-card-header>
            Put SMS <img src="../../../../assets/images/geoffrey-outline.svg"/>
          </nb-card-header>
          <nb-card-body>
            Get stock picks... texted to your phone.
          </nb-card-body>
          <nb-card-footer>
            <span class="pull-right">$3/mo</span>
            <span *ngIf="putSmsSubscription&&!putSmsSubscription.discount" class="text-success"><i
              class="nb-checkmark"></i> Subscribed</span>
            <span *ngIf="putSmsSubscription&&putSmsSubscription.discount" class="text-success">{{putSmsSubscription.discount.coupon.percent_off}}% off for {{putSmsSubscription.discount.coupon.duration_in_months}} months</span>
          </nb-card-footer>
        </nb-card>
      </div>

    </div>
  </nb-card-body>
</nb-card>

