@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);

    /deep/ .bots {
      width: 128px;

      .icon {
        display: flex;
        float: left;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        font-size: 3.75rem;
        //border-radius: nb-theme(card-border-radius);
        transition: width 0.4s ease;
        transform: translate3d(0, 0, 0);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        color: nb-theme(color-white);

        &.primary {
          @include btn-hero-primary();
          box-shadow: none;
        }
        &.success {
          @include btn-hero-success();
          box-shadow: none;
        }
        &.info {
          @include btn-hero-info();
          box-shadow: none;
        }
        &.warning {
          @include btn-hero-warning();
          box-shadow: none;
        }
        img {
          height: 24px;
          width: 24px;
          -webkit-filter: invert(1);
          filter: invert(1);
        }

        &.off {
          color: nb-theme(card-fg);
          img {
            -webkit-filter: invert(.6);
            filter: invert(.6);
          }

             &.primary, &.success, &.info, &.warning {
               box-shadow: none;
               background-image: linear-gradient(to right, transparent, transparent);
            }

          .title {
            color: nb-theme(card-fg);
          }
        }
      }
    }
  }
}
