<nb-card *ngIf="!user">
  <nb-card-header>
    Strategies
  </nb-card-header>
  <nb-card-body>
    Coming soon.
  </nb-card-body>
</nb-card>
<nb-card *ngIf="user">
  <nb-card-header>
    Strategies
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table *ngIf="size==='lg'" [settings]="settingsLg" [source]="source" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
    <ng2-smart-table *ngIf="size==='md'" [settings]="settingsMd" [source]="source" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
    <ng2-smart-table *ngIf="size==='sm'" [settings]="settingsSm" [source]="source" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
