<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Rocket"
      subtitle="Growth"
      type="warning"
      pictureUrl="../../../../assets/images/rocket-flat.svg"
      description="Identifies the rocket stocks."
      [routerLink]="['../rocket']"
    ></ngx-bot-profile>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Put"
      subtitle="Short"
      type="info"
      pictureUrl="../../../../assets/images/geoffrey-flat.svg"
      description="Prepare for crash landing."
      [routerLink]="['../put']"
    ></ngx-bot-profile>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Bruno"
      subtitle="Bargain"
      type="primary"
      pictureUrl="../../../../assets/images/bruno-flat.svg"
      description="Finds the bargain stocks."
      [routerLink]="['../bruno']"
    ></ngx-bot-profile>
  </div>
  <!-- <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Geoffrey"
      subtitle="Safety"
      type="info"
      pictureUrl="../../../../assets/images/geoffrey-flat.svg"
      description="Prevents investments from losing."
      [routerLink]="['../geoffrey']"
    ></ngx-bot-profile>
  </div> -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Swing"
      subtitle="Profit"
      type="success"
      pictureUrl="../../../../assets/images/swing-flat.svg"
      description="Sells stocks at their peak."
      [routerLink]="['../swing']"
    ></ngx-bot-profile>
  </div>
</div>
