<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Alfred"
      subtitle="Strategy"
      type="primary"
      pictureUrl="https://cdn3.iconfinder.com/data/icons/robots-flat-collection/60/Robots_-_Flat_-_036_-_Bot-256.png"
      description="Buys stocks when they go on sale."
      [routerLink]="['../alfred']"
    ></ngx-bot-profile>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Geoffrey"
      subtitle="Safety"
      type="info"
      pictureUrl="https://cdn3.iconfinder.com/data/icons/robots-flat-collection/60/Robots_-_Flat_-_030_-_Bot-256.png"
      description="Prevents investments from losing too much."
      [routerLink]="['../geoffrey']"
    ></ngx-bot-profile>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <ngx-bot-profile
    title="Dot"
    subtitle="Profit"
    type="success"
    pictureUrl="https://cdn3.iconfinder.com/data/icons/robots-flat-collection/60/Robots_-_Flat_-_010_-_Bot-256.png"
    description="Sells stocks at their peak."
    [routerLink]="['../dot']"
  ></ngx-bot-profile>
</div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Rocket"
      subtitle="Growth"
      type="warning"
      pictureUrl="https://cdn3.iconfinder.com/data/icons/robots-flat-collection/60/Robots_-_Flat_-_018_-_Bot-256.png"
      description="Identifies the rocket stocks."
      [routerLink]="['../rocket']"
    ></ngx-bot-profile>
  </div>
</div>
