<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-bot-profile
      title="Rocket"
      subtitle="Growth"
      type="warning"
      pictureUrl="../../../../assets/images/rocket-flat.svg"
      description="Rocket identifies the rocket stocks; The stocks that go to the moooon!"
    ></ngx-bot-profile>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <nb-card>
    <nb-card-header>
      Rocket Stocks
      <hr>
      <span style="font-size: smaller; font-weight: lighter;">{{createdAt}}</span>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  </div></div>
